
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>
<table class="table table-bordered">
    <tr>
        <th>Başlık</th>
        <th>Oran</th>
        <th>Sil</th>
    </tr>
    <tr>
        <td>Test</td>
        <td>90</td>
        <td><a href="#" class="btn btn-danger">Sil</a></td>
    </tr>
</table>
